# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\주영\자소서\codingtest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
